
<div class="room">


<h4>Log in your account:</h4>

<div class="login">
  <button id="facebook"><a href="/auth/facebook">Log In with Facebook</a></button>
  <!-- <button id="google"><a href="/auth/google">Log In with Google</a></button> -->
<hr />
<p>
  Don't have an account?
  <a href="/signup"> Sign Up </a>
</p>
</div>

</div>
